@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{


/*Units*/

--unit-xxs:2px;
--unit-xs:4px;
--unit-s:8px;
--unit-m:16px;
--unit-l:32px;
--unit-xl:64px;
--unit-xxl:128px;
--unit-xxxl:256px;

/*Colors*/

--color-primary:rgba(0,0,0);
--color-secondary:rgba(255,255,255);
--color-highlight:rgba(255,0,0);

}

* {
	margin: 0px;
	padding: 0px;}


body {
	background-color:var(--color-secondary);}

#wrapper {width:100%;
	height:1800px;
	margin:auto;}

header{	width:100%;
		height:350px;
		background-color:var(--color-secondary);
		background-image:url(bilder/header.jpg);
		background-size:100%;
    	background-repeat: no-repeat;
		}

#logo{		width:200px;
		height:200px;
		margin-left:var(--unit-xl);
		margin-top:var(--unit-l);
		border-radius: 50%;
  		display: inline-block;
		background-color:var(--color-secondary);}	


#sprachauswahl{
				width:100px;
				height:50px;
				float:left;
				margin-left:1700px;
				margin-top:var(--unit-s);
				}


nav{	width:100%;
	height:60px;
	float:left;
	margin-top:var(--unit-xs);
	background-color:var(--color-primary);}
	
nav ul li{		height:30px;
			width:180px;
			padding-top:20px;
			padding-bottom:5px;
			text-align:center;
			float:left;
			margin-left:var(--unit-xxl);
			list-style-type:none;
			background-color:var(--color-primary);}
			
nav ul li a{color:var(--color-secondary);
			text-decoration:none;
			text-align:center;}

nav ul li a:hover{transition:0.5s all;
			text-decoration:none;
			color:var(--color-highlight);}
			
nav ul li ul{width:10px;
			display:none;
			position:absolute;
			float:left;
			margin-left:var(--unit-xxs);
			top:var(--unit-xxxl);
			font-size:20px;}
			
nav ul li ul a{color:var(--color-secondary);}

nav ul li ul a:hover{color:var(--color-highlight);}																				

nav ul li:hover ul{display:block;}

section{	width: 100%;
    		height: 2800px;
			float:left;}

section#hauptseite{	width: 100%;
    				height: 2000px;
					float:left;}

section#foto{	width: 100%;
    			height: 3400px;
				float:left;}

section#illustrationen{	width: 100%;
    					height: 3400px;
						float:left;}

section#grafik{	width: 100%;
    			height: 3400px;
				float:left;}

section#typo{	width: 100%;
    			height: 3400px;
				float:left;}

section#uebermich{	width: 100%;
    				height: 1000px;
					float:left;}		

section#contact{	width: 100%;
    				height: 1000px;
					float:left;}	



#willkommen{width:1400px;
				height:200px;
				float:left;
				padding:25px;
				margin-top:var(--unit-xxl);
				margin-left:var(--unit-xl);
				display:inline;
				background-color:var(--color-primary);}

.auswahl{
width:400px;
height:600px;
float:left;
margin-left:var(--unit-xl);
margin-top:var(--unit-xxl);
background-color:var(--color-primary);
filter: blur(8px);
-webkit-filter: blur(5px);

}
 
.auswahl:hover {
	filter: blur(0px);
-webkit-filter: blur(0px);
}

#myself{
width:500px;
height:500px;
float:left;
margin-left:var(--unit-xl);
margin-top:var(--unit-xxxl);
border-radius: 50%;
background-color:var(--color-primary);}

#myselftext{
	width:1000px;
	height:600px;
	float:left;
	margin-left:var(--unit-xl);
	margin-top:var(--unit-xxxl);
	background-color:var(--color-primary);}


#teaserarbeiten{
	width:100%;
	height:300px;
	float:left;
	background-color:rgba(53, 53, 53);}


.auswahlarbeiten{
	width:500px;
	height:500px;
	float:left;
	margin-left:var(--unit-xl);
	margin-top:var(--unit-xxl);
	border-radius: 50%;
	background-color:var(--color-primary);}

.auswahltext{
		width:500px;
		height:500px;
		float:left;
		margin-left:var(--unit-xl);
		margin-top:var(--unit-xxl);
		background-color:var(--color-primary);}



.fotobilder{					width:400px;
								height:800px;
								float:left;
								margin-left:var(--unit-xl);
								margin-top:var(--unit-xxxl);
								-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
								-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
								box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
								-webkit-filter: grayscale(100%);
								 transition: transform 0.2s;
								background-color:var(--color-primary);}

.illustrationbilder{					width:400px;
									height:800px;
									float:left;
									margin-left:var(--unit-xl);
									margin-top:var(--unit-xxxl);
									-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
									-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
									box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
									background-color:var(--color-primary);}

.grafikbilder{					width:400px;
										height:800px;
										float:left;
										margin-left:var(--unit-xl);
										margin-top:var(--unit-xxxl);
										-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
										-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
										box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
										-webkit-filter: grayscale(100%);
										 transition: transform 0.2s;
										background-color:var(--color-primary);}

.typobilder{					width:400px;
											height:800px;
											float:left;
											margin-left:var(--unit-xl);
											margin-top:var(--unit-xxxl);
											-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
											-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
											box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
											-webkit-filter: grayscale(100%);
											 transition: transform 0.2s;
											background-color:var(--color-primary);}


#contactformular{					width:800px;
												height:600px;
												float:left;
												margin-left:var(--unit-xl);
												margin-top:var(--unit-xxl);
												background-color:var(--color-primary);}


footer{height:400px;
		width:100%;
		float:left;
		margin-top:var(--unit-l);
		background-color:var(--color-primary);}

#formular{width:500px;
			height:300px;
			float:left;
			margin-left:var(--unit-xl);
			margin-top:var(--unit-xl);
			background-color:var(--color-secondary);}




			
.socialmedia{width:40px;
		height:40px;
		float:left;
		margin-left:var(--unit-xxxl);
		margin-top:var(--unit-xxxl);
		}


.links{width:100px;
					height:100px;
					float:left;
					margin-left:var(--unit-xxxl);
					margin-top:var(--unit-xxxl);
					}	
					
.links ul li a{color:var(--color-secondary);
						text-decoration:none;
						text-align:center;}	

.links ul li a:hover{transition:0.5s all;
	list-style-type:none;
	color:var(--color-highlight)}		

a {font-family: 'Roboto', regular;	
	font-size:20px;
	font-weight:normal;
	color: var(--color-secondary);}

p{font-family: 'Roboto', regular;	
	font-size:18px;
	font-weight:normal;
	color: var(--color-secondary);}
	
h1{font-family:'Roboto', regular;
	font-size:26px;
	font-weight:normal;
	color: var(--color-secondary);}

		
	
	
