@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{


/*Units*/

--unit-xxs:2px;
--unit-xs:4px;
--unit-s:8px;
--unit-m:16px;
--unit-l:32px;
--unit-xl:64px;
--unit-xxl:128px;
--unit-xxxl:256px;

/*Colors*/

--color-primary:rgba(0,0,0);
--color-secondary:rgba(255,255,255);
--color-highlight:rgba(255,0,0);

}

* {
	margin: 0px;
	padding: 0px;}


body {
	background-color:var(--color-secondary);}

#wrapper {width:100%;
	height:1800px;
	margin:auto;}

/*Header*/

header{	width:100%;
		height:350px;
		background-color:var(--color-secondary);
		background-image:url(bilder/header.jpg);
		background-size:100%;
    	background-repeat: no-repeat;
		}



#logo{	width:150px;
		height:150px;
		margin-left:var(--unit-xl);
		margin-top:var(--unit-l);
		border-radius: 50%;
  		display: inline-block;
		justify-content: center;
		background-color:var(--color-secondary);}	

#searchbar{		width:100px;
				height:50px;
				float:left;
				margin-left:1700px;
				}

#sprachauswahl{	width:40px;
					height:40px;
					float:left;
					margin-left:1820px;
					margin-top:var(--unit-xxs);
					background-color:var(--color-secondary);}

/*Navigation*/

nav{width:100%;
	height:60px;
	float:left;
	margin-top:var(--unit-l);
	background-color:var(--color-primary);}
	
nav ul li{	height:30px;
			width:180px;
			padding-top:20px;
			padding-bottom:5px;
			float:left;
			justify-content: center;
			margin-left:var(--unit-xxl);
			list-style-type:none;
			background-color:var(--color-primary);}
			
nav ul li a{color:var(--color-secondary);
			text-decoration:none;
			text-align:center;}

nav ul li a:hover{transition:0.5s all;
			text-decoration:none;
			color:var(--color-highlight);}
			
nav ul li ul{width: 160px;
			display:none;
			position: relative;
			margin-left:-180px;
			margin-top:var(--unit-s);
			z-index: 1;}
			
nav ul li ul a{color:var(--color-secondary);
				float:left;
				margin-left:var(--unit-l) ;}

nav ul li ul a:hover{	color:var(--color-highlight);}																				

nav ul li:hover ul{display:block;}																				


/*Content*/

section{	width: 100%;
    		height: 2800px;
			float:left;}

section#hauptseite{	width: 100%;
    				height: 2000px;
					float:left;}

section#arbeiten{	width: 100%;
					height: 1200px;
					float:left;}


section#foto{	width: 100%;
    			height: 4500px;
				float:left;}

section#illustrationen{	width: 100%;
    					height: 4500px;
						float:left;}

section#grafik{	width: 100%;
    			height: 4500px;
				float:left;}

section#typo{	width: 100%;
    			height: 4500px;
				float:left;}

section#uebermich{	width: 100%;
    				height: 1500px;
					float:left;}		

section#contact{	width: 100%;
    				height: 1200px;
					float:left;}	

#willkommen{width:100%;
				height:300px;
				float:left;
				display:inline;
				background-color:var(--color-primary);}

.auswahl{
width:400px;
height:600px;
float:left;
margin-left:var(--unit-xl);
margin-top:var(--unit-xxl);
background-color:var(--color-primary);
transition: transform .2s;
filter: opacity(30%);
transition: filter 1.5s;
}

.auswahl:hover {
	transform: scale(1.1);
	filter: opacity(100%);

}

#myself{
width:400px;
height:400px;
float:left;
margin-left:var(--unit-xxxl);
margin-top:var(--unit-xxxl);
border-radius: 50%;
background-image:url(bilder/Selbstportrait.jpg);}

#myselftext{
	width:900px;
	height:300px;
	float:left;
	padding:var(--unit-l);
	margin-left:var(--unit-xxl);
	margin-top:var(--unit-xxxl);
	background-color:var(--color-primary);}

#teaserarbeiten{
	width:100%;
	height:300px;
	float:left;
	background-color:rgba(53, 53, 53);}

.auswahlarbeiten{
	width:500px;
	height:500px;
	float:left;
	clear:both;
	margin-left:var(--unit-xl);
	margin-top:var(--unit-xxl);
	border-radius: 50%;
	background-color:var(--color-primary);}

.auswahltext{
		width:500px;
		height:500px;
		float:left;
		clear:both;
		margin-left:var(--unit-xl);
		margin-top:var(--unit-xxl);
		background-color:var(--color-primary);}

.fotobilder{	width:800px;
				height:532px;
				float:left;
				margin-left:var(--unit-xxl);
				margin-top:var(--unit-xxxl);
				-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				transition: transform 0.2s;
				background-color:var(--color-primary);
				transition: transform .2s;}

.fotobilder:hover {	transform: scale(1.2);}

.illustrationbilder{width:800px;
					height:600px;
					float:left;
					margin-left:var(--unit-xxl);
					margin-top:var(--unit-xxxl);
					-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
					-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
					box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
					background-color:var(--color-primary);
					transition: transform .2s;}

.illustrationbilder:hover {	transform: scale(1.1);}

.grafikbilder{	width:800px;
				height:600px;
				float:left;
				margin-left:var(--unit-xxl);
				margin-top:var(--unit-xxxl);
				-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				transition: transform 0.2s;
				background-color:var(--color-primary);
				transition: transform .2s;}
									
.grafikbilder:hover {	transform: scale(1.1);}

.typobilder{	width:800px;
				height:600px;
				float:left;
				margin-left:var(--unit-xxl);
				margin-top:var(--unit-xxxl);
				-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
				transition: transform 0.2s;
				background-color:var(--color-primary);
				transition: transform .2s;}

.typobilder:hover {	transform: scale(1.1);}


#contactformular{	width:800px;
					height:600px;
					float:left;
					margin-left:var(--unit-xl);
					margin-top:var(--unit-xxl);
					background-color:var(--color-primary);}

/*Footer*/

footer{height:400px;
		width:100%;
		float:left;
		margin-top:var(--unit-l);
		background-color:var(--color-primary);}

#formular{width:500px;
			height:300px;
			float:left;
			margin-left:var(--unit-xl);
			margin-top:var(--unit-xl);
			background-color:var(--color-secondary);}

.socialmedia{width:40px;
		height:40px;
		float:left;
		margin-left:200px;
		margin-top:330px;
		}

.links{width:100px;
					height:100px;
					float:left;
					margin-left:450px;
					margin-top:var(--unit-xxxl);
					}	

.links ul li a{color:var(--color-secondary);
						text-decoration:none;
						text-align:center;}	

.links ul li a:hover{transition:0.5s all;
	list-style-type:none;
	color:var(--color-highlight)}		

/*Text, Headline*/

a {font-family: 'Roboto', regular;	
	font-size:20px;
	font-weight:normal;
	color: var(--color-secondary);}

p{font-family: 'Roboto', regular;	
	font-size:18px;
	font-weight:normal;
	color: var(--color-secondary);}
	
h1{font-family:'Roboto', regular;
	font-size:26px;
	font-weight:normal;
	color: var(--color-secondary);}